:root {
  --purple: #383d5d;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  background-color: inherit;
  border: none;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.3);
  transition: 0.3s all;
}

button:hover {
  color: rgba(255, 255, 255, 1);
}

button:focus {
  outline: none;
}

h6 {
  color: #797c8d;
  font-weight: 400;
  font-size: 14px;
  margin: 0;
}